<mat-card class="example-card" *ngFor="let psychologist of psychologists">
  <img mat-card-image src="{{psychologist.image}}" alt="{{psychologist.name}} {{psychologist.lastName}}">
  <mat-card-content>
    <mat-card-title>Nombres:</mat-card-title>
    <mat-card-subtitle>{{psychologist.name}} {{psychologist.name}}</mat-card-subtitle>

    <mat-card-title>Especialidad:</mat-card-title>
    <mat-card-subtitle>{{ psychologist.fee }}</mat-card-subtitle>

    <mat-card-title>Correo:</mat-card-title>
    <mat-card-subtitle>{{ psychologist.email }}</mat-card-subtitle>

    <mat-card-title>Honorarios:</mat-card-title>
    <mat-card-subtitle>{{ psychologist.fee }}</mat-card-subtitle>

    <mat-card-title>Telefono:</mat-card-title>
    <mat-card-subtitle>{{ psychologist.phone }}</mat-card-subtitle>
  </mat-card-content>
</mat-card>
