
<div class="psychologist-schedule">
<div class="encabezado">
  <img class="icono-pagina" src="https://github.com/aksoonie/mindcare-db/assets/134560396/76982bf3-a8b0-4592-855a-0ca4ad6c242b" alt="calendario">
  <h1 class="tittle">Horario de {{psychologist?.name}} {{psychologist?.lastName}}</h1>
</div>
<mat-divider></mat-divider>
<div class="psychologist-schedule-box">
  <div class="card-psychologist-box">
    <mat-card class="psychologist-card">
      <mat-card-header>
        <img [src]="psychologist?.photoUrl" alt="Psychologist Photo">
      </mat-card-header>
      <mat-card-content>
        <p><strong>Especialidad: </strong> {{ psychologist?.occupation }}</p>
        <p><strong>Correo: </strong> {{ psychologist?.email }}</p>
        <p><strong>Teléfono: </strong> {{ psychologist?.phone }}</p>
      </mat-card-content>
    </mat-card>
  </div>
  <div class="card-schedule-box">
    <div *ngIf="timeIntervals.length > 0">
      <div  *ngFor="let interval of timeIntervals">
        <button class="hours-buttons" style="background-color: rgba(95,168,168,0.56); color: white;" mat-raised-button (click)="onIntervalClick(interval); openDialog()">{{ interval }}</button>
      </div>
    </div>
</div>
