<mat-card class="demo-inline-calendar-card">
  <mat-calendar [(selected)]="selected"></mat-calendar>
  <h2 class="subtitle">Selecciona el horario de tu cita</h2>
</mat-card>

<div class="schedule-container">
  <div class="schedule-morning">
    <p class="text-evening">Por la mañana</p>
    <div class="example-button-row">
      <button mat-fab extended color="primary">
        9:00 AM
      </button>
      <button mat-fab extended color="primary">
        11:00 AM
      </button>
    </div>
  </div>
  <div class="schedule-evening">
    <p class="text-evening">Por la tarde</p>
    <div class="example-button-row">
      <button mat-fab extended color="primary">
        12:00 PM
      </button>
      <button mat-fab extended color="primary">
        11:00 AM
      </button>
    </div>
  </div>
</div>
