@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

.header {
  margin-top:2em;
  margin-bottom: 1.5em;
  width: 85%;
  display: flex;
  flex-wrap: wrap;
  margin-left: auto;
  justify-content: center;
}

.page-icon {
  justify-self: left;
  height: 50px;
}

.tittle {
  font-family: "Nunito", sans-serif;
  margin-top: 0.3em;
  margin-left: 0.5em;
  font-size: xx-large;
  color: rgba(0, 0, 0, 0.6);
  margin-right: auto;
}

mat-divider {
  width: 85%;
  margin: 1.5em auto;
}

.card-user-box {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.card-datos-cuenta {
  width: calc(50% - 20px);
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  padding: 1em;
  color: rgba(0, 0, 0, 0.6);
  font-size: large;
}
.photo-container {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.card-dato {
  width: 90%;
  margin: 0.5em 0;
  padding: 0.3em;
  height: auto;
  display: flex;
}

.card-dato i{
  margin-left: auto;
}
.photo-user{
  display: flex;
  justify-content: center;
  align-items: center;
}
