.example-section {
  display: flex;
  width: 50%; /* Aumenta el ancho del section */
  margin: 0 auto;
  flex-direction: row; /* Cambia la dirección a row para que los elementos estén en línea */
  justify-content: space-between; /* Añade espacio entre los elementos */
}

.example-section p {
  font-size: 1.5em; /* Aumenta el tamaño de la fuente de los elementos p */
  margin-bottom: 5px; /* Reduce el margen inferior de los elementos p */
}

.example-section mat-checkbox {
  transform: scale(1.5); /* Aumenta el tamaño de los checkboxes */
}

.mat-checkbox.mat-checkbox-checked .mat-checkbox-background, .mat-checkbox.mat-checkbox-indeterminate .mat-checkbox-background {
  background-color: #B2E2F1; /* Cambia el color de fondo a rojo cuando el checkbox está seleccionado */
}

/* Consulta de medios para pantallas con un ancho máximo de 600px */
@media (max-width: 600px) {
  .example-section {
    flex-direction: column; /* Cambia la dirección a column para que los elementos estén en columna */
  }

  .example-section mat-checkbox {
    transform: scale(1); /* Reduce el tamaño de los checkboxes */
  }
}
