img {
  cursor: pointer;
  margin: 5px;
}
.notes{
  position: absolute;
  top: 18%;
  left: 65%;
  color: #6B9F9F;
  font-weight: 800;
}

.doc-1 {
  position: absolute;
  top: 26%;
  left: 60%;
}

.doc-2 {
  position: absolute;
  top: 26%;
  left: 73%;
}

.doc-3 {
  position: absolute;
  top: 45%;
  left: 60%;
}

.doc-4 {
  position: absolute;
  top: 45%;
  left: 73%;
}

.doc-5 {
  position: absolute;
  top: 64%;
  left: 60%;
}

.doc-6 {
  position: absolute;
  top: 64%;
  left: 73%;
}

textarea {
  width: 100%;
  margin-bottom: 10px;
}

button {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
