img {
  cursor: pointer;
  margin: 5px;
}

.notes {
  position: absolute;
  top: 18%;
  left: 65%;
  color: #6B9F9F;
  font-weight: 800;
}

.doc-1 {
  position: absolute;
  top: 26%;
  left: 60%;
}

.doc-2 {
  position: absolute;
  top: 26%;
  left: 73%;
}

.doc-3 {
  position: absolute;
  top: 45%;
  left: 60%;
}

.doc-4 {
  position: absolute;
  top: 45%;
  left: 73%;
}

.doc-5 {
  position: absolute;
  top: 64%;
  left: 60%;
}

.doc-6 {
  position: absolute;
  top: 64%;
  left: 73%;
}

@media (max-width: 790px) {
  .notes {
    position: static; /* Remove absolute positioning */
    text-align: center; /* Center align the label */
    margin-top: 20px;
  }

  img {
    max-width: 90%; /* Adjust width for small screens */
    height: auto; /* Maintain aspect ratio */
    display: block;
    margin: 10px auto; /* Center align the images */
    position: static; /* Remove absolute positioning */
  }

  .doc-1, .doc-2, .doc-3, .doc-4, .doc-5, .doc-6 {
    position: static; /* Remove absolute positioning */
    margin: 10px auto; /* Center align the images */
  }
}
