.icono-pacientes {
  width: 35px;
  height: 25px;
}
.icono-calendar{
  width: 28px;
  height: 25px;
}
.icono-camara{
  width: 35px;
  height: 25px;
}
.icono-mensaje{
  width: 30px;
  height: 28px;
}
.icono-finanzas{
  width: 35px;
  height: 35px;
}
