.icono-pacientes {
  width: 35px;
  height: 25px;
}
.icono-calendar{
  width: 28px;
  height: 25px;
}
.icono-camara{
  width: 35px;
  height: 25px;
}
.icono-mensaje{
  width: 30px;
  height: 28px;
}
.icono-finanzas{
  width: 35px;
  height: 35px;
}
.icono-configuracion{
  width: 25px;
  height:25px;
}
.icono-notas{
  width: 20px;
  height: 25px;
}
.flex-container {
  display: flex;
  justify-content: center; /* Centra los elementos horizontalmente */
  align-items: center; /* Centra los elementos verticalmente */
  margin-right: 15%;
}

app-patient-card {
  flex-grow: 0; /* Esto hace que el componente no crezca para llenar el espacio extra */
  margin: 0; /* Esto elimina el margen alrededor del componente */
  width: auto; /* Esto hace que el ancho de los elementos sea igual al del contenido */
}

app-patient-calender {
  flex-grow: 0; /* Esto hace que el componente no crezca para llenar el espacio extra */
  margin: 0; /* Esto elimina el margen alrededor del componente */
  width: auto; /* Esto hace que el ancho de los elementos sea igual al del contenido */
}

/* header-content.component.css */

/* Estilos existentes... */

@media (max-width: 790px) {
  .icono-pacientes,
  .icono-calendar,
  .icono-camara,
  .icono-mensaje,
  .icono-finanzas,
  .icono-configuracion,
  .icono-notas {
    width: 20px; /* Ajusta el ancho para pantallas pequeñas */
    height: 15px; /* Ajusta la altura para pantallas pequeñas */
  }

  .flex-container {
    flex-direction: column; /* Cambia la dirección a columna para que los elementos estén uno debajo del otro */
    align-items: flex-start; /* Alinea los elementos al inicio */
  }

  app-patient-card,
  app-patient-calender {
    width: 100%; /* Ajusta el ancho para pantallas pequeñas */
  }
}
