.demo-inline-calendar-card {
  width: 40%;
  margin: 0 auto;
}

/* Consulta de medios para pantallas con un ancho máximo de 600px */
@media (max-width: 790px) {
  .demo-inline-calendar-card {
    width: 100%; /* Aumenta el ancho del calendario para pantallas pequeñas */
  }
}
